*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
background-image: url('slider_bg.jpg');
padding-top: 20px;
}
#root{
  margin: 80px 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Card {
  margin-top: 40px ;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: all 0.5s ease;
  width:280px;
  position: relative;
  height: 400px;
  text-align: center;
}
h1{
    font-size: 80px;
    font-family: 'Dancing Script', 'cursive';
    text-align: center;
    color: #2b2b2b;
}
h2{
  color: #2b2b2b;
  text-align: center;
  font-size: 20px;
  font-family: 'Gochi Hand', cursive;
  padding: 10px 20px 0;
}
h2#heading1{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}
.Card:hover h2{
  color: #ca0808;
  transition: all 0.5s;
}
p{
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  color: #fac122;
  margin: 15px 40px 30px 40px;
  padding: 5px 0;
  background-color: green;
  border-radius: 10px;
}
.Card:hover p{
  background-color: #fac122;
  color:green;
  transition: all 0.5s;
}
a.detailsBtn{
  text-align: center;
  background-color: blueviolet;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 20px;
 margin-top: 30px;
}
#image{
  width: 280px;
  height: 158px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.sourses{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 158px;
}

.link{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ca0808;
}
.Card:hover .sourses{
  opacity: 1;
 transition: all .3s ease;
 border-radius: 10px;
}

.detailsBtn:focus,.detailsBtn:active{
  background-color: burlywood;
  color: black;
}
.unorderList{
  background-color: #fac122;
  padding: 10px 30px;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
 
  z-index: 1;
  transition: top ease 0.5s;
  border-radius: 10px;
  text-align: left !important;
}
.Card:hover .unorderList{
  opacity: 1;
  top: 0;
}

.selects{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#select{
  width: 20%;
  text-align: center;
  outline: none;
  border: none;
  font-family: 'Patrick Hand', cursive;
}
.text{
  width: 20%;
  padding: 10px;
  outline: none;
  
   font-family: 'Patrick Hand', cursive;
   margin-left: 20px;
   border: none;
}
